body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

html, body {
  overflow-x: hidden;
}

.border {
  border-radius: 20px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
}

.shadow {
  -webkit-box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.shadow:hover {
  -webkit-box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.25) !important;
}

.text {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.text:hover {
  color: var(--color-hover);
}

.scale {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.scale:hover {
  -webkit-transform: var(--scale);
          transform: var(--scale);
}

.scale--sm:hover {
  -webkit-transform: var(--scale-sm);
          transform: var(--scale-sm);
}

.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
}

.h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.price--lg {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

.page__header {
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .page__header {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .h1 {
    font-size: 52px;
  }
}
@media (max-width: 576px) {
  .scale:hover {
    -webkit-transform: none;
            transform: none;
  }
  .h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .h2 {
    font-size: 27px;
  }
  .price {
    font-size: 15px;
  }
}