.main__anounc{
    margin-bottom: 90px;
}
.main__cart{
    margin-bottom: 50px;
}
.main__detail-cart{
    margin-bottom: 85px;
}
.main__detail-desc{
    margin-bottom: 115px;
}
.main__gallery{
    margin-bottom: 50px;
}
.specifications{
    margin-bottom: 90px;
}
@media(max-width: 992px){
    .main__anounc{
        margin-bottom: 70px;
    }
    
}