.count{
    display: flex;
    justify-content: center;
    align-content: center;

    gap: 15px;
}
.count__reduce, .count__add{
    width: 25px;
    height: 25px;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.count__reduce{
    padding-bottom: 2px;
}
@media(max-width:576px){
    .count{
        gap: 5px;
    }
}

